<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Nerdy heart</title>
	<meta name="author" content="Chris Wood">
	<!-- Date: 2011-04-30 -->
</head>
<body>
    <h1>Heart</h1>
<script type="text/javascript" id="WolframAlphaScript6830380db5e5e855d1da1f70f76883cb" src="http://www.wolframalpha.com/widget/widget.jsp?id=6830380db5e5e855d1da1f70f76883cb"></script>
</body>
</html>